<li>
	{{dataValues.burger_name}}

	<button class="devourBurger" data-id="{{dataValues.id}}" data-consumed="{{devoured}}">
		{{#if dataValues.burger_devoured}}Return to Menu!{{else}}Devour!{{/if}}
	</button>

</li>